<?php

return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'host' => 'yourIp',
                    'user' => 'username',
                    'password' => 'password',
                ],
            ],
        ],
    ],
];